$sm = 576px
$md = 768px
$lg = 992px
$xl = 1200px

sm()
	@media screen and ( min-width $sm )
		{block}

md()
	@media screen and ( min-width $md )
		{block}

lg()
	@media screen and ( min-width $lg )
		{block}

xl()
	@media screen and ( min-width $xl )
		{block}



