// .ellipsis
// position relative
// overflow hidden
// max-height 3em
// width 200px
// outline 1px solid #ff9900
// line-height 1.5

// .ellipsis::before
// position absolute
// right 0
// bottom 0
// z-index 1
// box-sizing border-box
// padding-left 3px
// width 1.5em
// background-color white
// content "..."

// .ellipsis::after
// position absolute
// z-index 2
// display inline-block
// width 100%
// height 100%
// background-color white
// content ""
.ellipsis-1
	overflow hidden
	text-overflow ellipsis
	white-space nowrap

.ellipsis
	display -webkit-box
	-webkit-box-orient vertical
	overflow hidden
	-webkit-line-clamp var(--lines)
